<div style="padding-left:20px">
   <h4>Name:{{name}}</h4>
   <h4>{{rating}} out of 5</h4>
   <h4>Subject:{{subjects}}</h4>
   <h4>Message:{{message}}</h4>
   <h4>Location:{{location}}</h4>
   <button type="button" style="none">MESSAGE</button>
   <button type="button" style="none">EMAIL</button>

</div>